* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
button {
  border-color: black;
  border-width: 2px;
  border-radius: 3px;
  background-color: rgb(161, 161, 161);
  padding: 15px 40px;
  font-size: 18px;
  margin-right: 15px;
}

button:focus,
button:hover {
  background-color: rgb(155, 155, 155);
  box-shadow: 5px 5px 5px 2px rgba(106, 106, 109, 0.42);
}

button:disabled {
  background-color: rgb(97, 97, 97);
}
